<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="image-display">
      <ion-col size="12">
        <ion-img *ngIf="photoService.photo" [src]="photoService.photo.webviewPath"
          (click)="showActionSheet(photoService.photo)"></ion-img>
        <ion-text *ngIf="!photoService.photo"> You need an image!</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="recognizeImage()"
          [disabled]="!workerReady || photoService.photo.webviewPath == undefined" color="tertiary">Get
          word!</ion-button>

        <ion-card *ngIf="workerReady && captureProgress > 0">
          <ion-card-header>
            <ion-card-title>Analyzing progress: {{captureProgress}} %</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ocrResult}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>